*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: "JetBrains Mono", serif;
}

header {
  padding: 16px 0;
  background-color: #22222C;
  color: #fccc4a;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: #fccc4a;
  text-decoration: none;
}

body {
  background-color: #191920;
  color: #cecece;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-list {
  height: 40px;
  font-size: 38px;
}

.icon-list li {
  display: inline;
}

section .container {
  align-items: flex-start;
}

section .container img {
  width: 50%;
}

section {
  padding: 24px 0;
}

section h2 {
  margin-bottom: 16px;
  color: #fccc4a;
}

section p {
  margin-bottom: 8px;
  margin-right: 22px; 
}

banner-top {
  margin-left: 32px;
}

.history-board h3 {
  color: #fccc4a;
  padding: 6px;
  margin-bottom: 8px;
  
}

